


















# HTID:18171596: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www.)?(hasengineer.000webhostapp.com)(/)?.*$      [NC]
RewriteRule .*.(.*)$ http://hasengineer.xyz [R,NC]
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18171596:
